
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'PT Sans';

}

.calculator{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border-radius: 15px;
  background-color: rgb(184, 176, 206);
  border: 2px solid black;
  padding: 3rem;
}

h1 {
  font-weight: bolder;
}

input {
  padding: 10px;
  font-size: 20px;
}

::placeholder {
  color: black;
  font-weight: bold;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.btn {
  background-color: #222;
  color: white;
  height: 40px;
  width: 40px;
  border: none;
}
.status {
  color: blue;
  margin-bottom: 1rem;
}

.status.error {
  color: red;
}

.message {
  font-weight: bold;
}